@import 'variables';

$grid-gutter-width: $spacer-xxs * 2;
$theme-colors: (
  'primary': $primary,
  'light': $light,
  'dark': $dark
);
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    xxxs: $spacer-xxxs,
    xxs: $spacer-xxs,
    xs: $spacer-xs,
    sm: $spacer-sm,
    md: $spacer-md,
    lg: $spacer-lg,
    xl: $spacer-xl,
    xxl: $spacer-xxl,
    xxxl: $spacer-xxxl,
  ),
  $spacers
);

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
// @import '~bootstrap/scss/tables';
// @import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/transitions';
// @import '~bootstrap/scss/dropdown';
// @import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/nav';
// @import '~bootstrap/scss/navbar';
// @import '~bootstrap/scss/card';
// @import '~bootstrap/scss/accordion';
// @import '~bootstrap/scss/breadcrumb';
// @import '~bootstrap/scss/pagination';
// @import '~bootstrap/scss/badge';
// @import '~bootstrap/scss/alert';
// @import '~bootstrap/scss/progress';
// @import '~bootstrap/scss/list-group';
// @import '~bootstrap/scss/close';
// @import '~bootstrap/scss/toasts';
// @import '~bootstrap/scss/modal';
// @import '~bootstrap/scss/tooltip';
// @import '~bootstrap/scss/popover';
// @import '~bootstrap/scss/carousel';
// @import '~bootstrap/scss/spinners';
@import '~bootstrap/scss/helpers';
@import '~bootstrap/scss/utilities/api';

// Fontawesome
@import '~@fortawesome/fontawesome-svg-core/styles';

// Adobe Typekit
@import 'typekit';

// Custom
@import 'typography';
@import 'app';