@use './variables.scss';

.pdfLayout {
  display: grid;
  overflow: hidden;
  width: 8.5in;
  height: 11in;
  grid-template-areas: 'grid-sidebar grid-main';
  grid-template-columns: 3.5in 1fr;
  grid-template-rows: 1fr;
}
.pdfSidebar {
  height: 100%;
  background-color: variables.$light;
  grid-area: grid-sidebar;
}
.pdfMain {
  grid-area: grid-main;
}