@use './variables.scss';

.pdfLayout {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    'sidebar main'
    'footer footer';
  grid-template-columns: 33% 1fr;
  grid-template-rows: 1fr 0;
}
.pdfSidebar {
  background-color: variables.$light;
  grid-area: sidebar;
}
.pdfMain {
  grid-area: main;
}
.pdfFooter {
  grid-area: footer;
}