// Colors
$primary: #0073e6;
$primary-light: #47a3ff;
$primary-medium: #0052a3;
$dark: #33333d;
$light: #e9e9ec;

// Design
$radius: 4px;

// Spacers
$spacer-xxxl: 256px;
$spacer-xxl: 192px;
$spacer-xl: 128px;
$spacer-lg: 96px;
$spacer-md: 64px;
$spacer-sm: 48px;
$spacer-xs: 32px;
$spacer-xxs: 16px;
$spacer-xxxs: 8px;
