name: CI

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2

      - name: Install
        run: bun install
      - name: Build
        run: bun run build:content
      - name: Lint
        run: bun run lint
      - name: Unit tests
        run: bun test --coverage --coverage-reporter=lcov
      - name: Coverage report
        uses: romeovs/lcov-reporter-action@v0.4.0
        if: github.event_name == 'pull_request'
        with:
          lcov-file: ./coverage/lcov.info
          github-token: ${{ secrets.GITHUB_TOKEN }}
